body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.about {
    width: 35%;
    float: left;
    padding-left: 20%;
}

h1, h2 {
    font-family: 'Merriweather', serif;
}

table, th, td {
    border: 1px solid;
}

li, p {
    font-size: 1.1em;
}

td {
    padding-left: 15px;
}

#classes {
    width: 80%;
}

p, label, li, th, td {
    font-family: 'Roboto Condensed', sans-serif;
}

.sign-up {
    width: 25%;
    float: left;
    background-color: lightgray;
    margin-top: 172px;
    padding-left: 2.5%;
    padding-bottom: 35px;
}

form {
    font-size: 1.1em;
}

#submit-button {
    padding: 5px 10px;
    font-size: .75em;
    width: 100px;
    border: none;
    color: white;
    background-color: blue;
}

#submit-button:hover {
    background-color: #6060f2;
}

.form-element {
    margin-bottom: 5px;
}

#name-label, #email-label {
    display: inline-block;
    width: 45px;
}

#gender {
    border: 1px solid; 
    padding-bottom: 5px; 
    width: 250px;
    margin-top: 10px;
}

#gender-label {
    width: 55px;
    font-size: 1em ;
    margin-left: 18px;
    padding-left: 2px;
    margin-top: -10px;
    background-color: lightgray;
}

#female-label {
    padding-left: 10px;
}

.move-up {
    margin-top: -12px;
}

#experience-label {
    margin-bottom: 15px;
}

#experience {
    width: 300px;
}

a:hover {
    color: #6060f2;
}

#email, #name {
    width: 250px;
}

.footer {
    display: inline-block;
    width: 100%;
    float: none;
    background-color: lightgray;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-bottom: 1px;
    text-align: center;
    font-size: 1.1em;
}


@media screen and (max-width: 1280px)
{
    #email, #name {
        width: 225px;
    }

    #experience {
        width: 275px;
        height: 75px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1150px)
{
    #email, #name {
        width: 200px;
    }

    #experience {
        width: 225px;
        height: 75px;
        margin-bottom: 10px;
    }

    #gender {
        width: 225px;
    }

    li, p, form {
        font-size: 1em;
    }

    #gender-label {
        width: 50px;
    }

    th, td {
        font-size: .8em;
    }
}

@media screen and (max-width: 1085px)
{
    #email, #name {
        width: 175px;
    }

    #experience, #gender {
        width: 200x;
    }
}

@media screen and (max-width: 996px)
{
    .about {
        width: 80%;
        float: none;
    }

    .sign-up {
        margin-left: 25%;
        width: 50%;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    form, p, li {
        font-size: 1.1em;
    }

    #email, #name {
        width: 350px;
    }

    #experience, #gender {
        width: 400px;
    }

    #gender-label {
        width: 55px;
    }
}

@media screen and (max-width: 855px)
{
    #email, #name {
        width: 225px;
    }

    #experience {
        width: 275px;
        height: 75px;
        margin-bottom: 10px;
    }

    #gender {
        width: 275px;
    }
}

@media screen and (max-width: 725px)
{
    #email, #name {
        width: 200px;
    }

    #experience {
        width: 225px;
        height: 75px;
        margin-bottom: 10px;
    }

    #gender {
        width: 225px;
    }

    li, p, form {
        font-size: 1em;
    }

    #gender-label {
        width: 50px;
    }

    th, td {
        font-size: .8em;
    }
}

@media screen and (max-width: 660px)
{
    #email, #name {
        width: 175px;
    }

    #experience, #gender {
        width: 200x;
    }
}