@font-face {
    font-family: 'ForteMt';
    src: url('fonts/ForteMT.eot');
    src: url('fonts/ForteMT.woff2') format('woff2'),
         url('fonts/ForteMT.woff') format('woff'),
         url('fonts/ForteMT.ttf') format('truetype'),
         url('fonts/ForteMT.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    height: auto;
    margin: 0;
    padding: 0;
}

header h1 a {
    color: black;
    text-decoration: none;
    font-family: 'ForteMt', cursive;
}

footer {
    position: relative;
    width: 100%;
    text-align: center;
}

body div.content {
    margin-bottom: 50px;
}

#home-pg .left {
    width: 45%;
    float: left;
    padding: 5% 0 0 5%;
}

#home-pg h1 {
    font-family: 'ForteMt', cursive;
}

#home-pg .right {
    width: 30%;
    float: right;
    padding-top: 10%;
    padding-right: 10%;
}

#home-pg #login{
    background-color: lightgrey;
    width: 65%;
    padding: 5% 0 10% 10%;
}

#home-pg form label{
    display: inline-block;
    width: 25%;
    margin-bottom: 5%;
}

#home-pg #user-login {
    width: 200px;
    height: 30px;
    margin-top: 3%;
}

#home-pg #login p {
    font-size: .75em;
    margin-top: -4%;
}
